.specials {
    overflow: hidden;
}

.specials .nav-tabs {
    border: 0;
}

.specials .nav-link {
    border: 0;
    padding: 12px 15px;
    transition: 0.3s;
    color: #fff;
    border-radius: 0;
    border-right: 2px solid #de963a;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
}

.specials .nav-link:hover {
    color: #edc586;
}

.specials .nav-link.active {
    color: #1a1814;
    background: #de963a;
    border-color: #de963a;
}

.specials .nav-link:hover {
    border-color: #de963a;
}

@media (max-width: 992px) {
    .specials .nav-link {
        border: 0;
        padding: 15px;
    }
}